@tailwind utilities;

:root {
  --bg-main: #dfe7f5;
  --bg-card-from: #fafafa;
  --bg-card-to: #a9c4eb;

  --card-border: #86a9db;
  --card-shadow: #0b111c1a;

  --icon: #408cff;
  --bg-icon: #fafafa;
  --icon-border: #86a9db;

  --text-main: #0b111c;
  --text-muted: #1f2937;

  --btn-from: #5898f7;
  --btn-to: #2761b8;
  --btn-shadow: #86a9db80;
  --btn-text: #dfe7f5;

  --ft-border: #1f293726;
}

.dark {
  --bg-main: #0b111c;
  --bg-card-from: #101726;
  --bg-card-to: #020617;

  --card-border: #1f2937;
  --card-shadow: #408cff1a;

  --icon: #408cff;
  --bg-icon: #020617;
  --icon-border: #1f2937;

  --text-main: #fafafa;
  --text-muted: #4b5563;

  --btn-from: #40afff;
  --btn-to: #408cff;
  --btn-shadow: #408cff80;
  --btn-text: #0b111c;

  --ft-border: #4b556326;
}
