name: Build Emails

on:
  push:
    branches: [main, master]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build templates
        run: npm run build

      - name: Prepare Release File
        run: mv build/template.html base.html

      - name: Get Commit Message
        id: commit_message
        run: echo "message=$(git log -1 --format=%s)" >> $GITHUB_OUTPUT

      - name: Upload to Latest Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ steps.commit_message.outputs.message }}
          files: base.html
          make_latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
